<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-06-15T13:25:54Z</date>
	<key>WorkspacePath</key>
	<string>/Users/kenshin/Desktop/kenshin-profile-app/kenshin-profile-app/kenshin-profile-app.xcodeproj</string>
</dict>
</plist>
